<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2><%= @store.name %></h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= link_to "Add New Item", new_item_path, class: "btn btn-large btn-secondary" %>
    </div>
  </div>
</div>
<table class="table table-striped clearance_batches">
  <thead>
    <tr>
      <th>In Cart</th>
      <th>Item</th>
      <th>Brand</th>    
      <th>Quantity</th>  
      <th>Notes</th>
      <th>Category</th>
      <th>Edit Item</th>
      <th>Delete Item</th>
    </tr>
  </thead>
  <tbody>
  <%- @items_by_store.each do |item| -%>
    <tr>
      <td><%= item.purchased %></td>
      <td><%= item.name %></td>
      <td><%= item.brand_name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.note %></td>
      <td><%= item.category ? item.category.name : ''  %></td>
      <td><%= link_to icon("fas", "pencil-alt"), item %></td>
      <td><%= icon("fas", "trash-alt") %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>