<% provide(:path, store_path) %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2><%= @store.name %></h2>
    <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <%= link_to "Current Items", store_path(group_by: "current_items"), class: "btn btn-large btn-outline-info d-none d-sm-block" %>
      <%= link_to "All Items", store_path(group_by: "all_items"), class: "btn btn-large btn-outline-info d-none d-sm-block" %>
      <%= link_to "Add New Item", new_item_path, class: "btn btn-large btn-outline-info d-none d-sm-block" %>
      <%= link_to "Current", store_path(group_by: "current_items"), class: "btn btn-sm btn-outline-info d-block d-sm-none" %>
      <%= link_to "All", store_path(group_by: "all_items"), class: "btn btn-sm btn-outline-info d-block d-sm-none" %>
      <%= link_to "New", new_item_path, class: "btn btn-sm btn-outline-info d-block d-sm-none" %>
    </div>
  </div>
</div>
<% if params[:group_by] == "all_items" %>
  <%= render partial: 'items/items', locals: {items: @items_by_store, categories: @store_categories, display_category: true} %>
<% else params[:group_by] == "current_items" %>
  <%= render partial: 'items/items', locals: {items: @items_by_store.needed, categories: @store_categories_needed, display_category: true } %>
<% end %>
