<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Item</th>
      <th class="d-none d-sm-table-cell">Brand</th> 
      <th>Quantity</th>  
      <th class="d-none d-sm-table-cell">Notes</th>
      <th class="d-none d-sm-table-cell">Category</th>
      <th class="d-none d-sm-table-cell">Edit Item</th>
      <th class="d-none d-sm-table-cell">Delete Item</th>
    </tr>
  </thead>
  <tbody>
    <%- categories.each do |category| -%>
      <%- if display_category -%>
      <tr class="d-table-row d-sm-none">
        <td class="text-info"><%= category %></td>
        <td></td>
        <td></td>
      </tr>
      <%- end -%>
      <%- items.each do |item| -%>
        <%-if item.category.name == category-%>
          <tr class=<%= "highlighted-#{item.coupon}"%>>
            <% if item.purchased %>
              <td><%= link_to "\u2714", update_purchased_item_url(item), method: :put, class: "text-info" %></td>  
            <% else %>
              <td><%= link_to "\u25A1", update_purchased_item_url(item), method: :put, class: "text-info" %></td>
            <% end %>
              <td class="d-none d-sm-table-cell"><%= link_to item.name, item %></td>
              <td class="d-none d-sm-table-cell"><%= item.brand_name %></td>
              <td class="d-sm-none d-table-cell"><%= link_to item.brand_name + ' ' + item.name, item %>
              <%-if item.note.present?-%>
                <span class="d-sm-none d-inline-block">*</span>
              <%- end -%>
              </td>
              <td><%= item.quantity %></td>
              <td class="d-none d-sm-table-cell"><%= item.note %></td>
              <td class="d-none d-sm-table-cell"><%= item.category ? item.category.name : ''  %></td>
              <td class="d-none d-sm-table-cell"><%= link_to icon("fas", "pencil-alt"), edit_item_path(item) %></td>
              <td class="d-none d-sm-table-cell"><%= link_to icon("fas", "trash-alt"), item, method: :delete, data: { confirm: "You sure?" } %></td>
          </tr>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </tbody>
</table>