<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th class="d-none d-sm-table-cell">Item</th>
      <th class="d-none d-sm-table-cell">Brand</th> 
      <th class="d-sm-table-cell d-sm-none">Item</th> 
      <th>Quantity</th>  
      <th class="d-none d-sm-table-cell">Notes</th>
      <th class="d-none d-sm-table-cell">Category</th>
      <th class="d-none d-sm-table-cell">Edit Item</th>
      <th class="d-none d-sm-table-cell">Delete Item</th>
    </tr>
  </thead>
  <tbody>
    <%- items.each do |item| -%>
    <tr class=<%= "highlighted-#{item.coupon}"%>>
      <% if item.purchased %>
        <td><%= link_to 'Need', update_purchased_item_url(item), method: :put, class: "btn btn-sm btn-outline-info" %></td>  
      <% else %>
        <td><%= link_to 'Got', update_purchased_item_url(item), method: :put, class: "btn btn-sm btn-info" %></td>
      <% end %>
      <td class="d-none d-sm-table-cell"><%= link_to item.name, item %></td>
      <td class="d-none d-sm-table-cell"><%= item.brand_name %></td>
      <td class="d-sm-table-cell d-sm-none"><%= link_to item.brand_name + ' ' + item.name, item %></td>
      <td><%= item.quantity %></td>
      <td class="d-none d-sm-table-cell"><%= item.note %></td>
      <td class="d-none d-sm-table-cell"><%= item.category ? item.category.name : ''  %></td>
      <td class="d-none d-sm-table-cell"><%= link_to icon("fas", "pencil-alt"), edit_item_path(item) %></td>
      <td class="d-none d-sm-table-cell"><%= link_to icon("fas", "trash-alt"), item, method: :delete, data: { confirm: "You sure?" } %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>