<h2><%= @item.name %></h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Brand:</strong> <%= @item.brand_name %></li>
  <li class="list-group-item"><strong>Quantity:</strong> <%= @item.quantity %></li>
  <li class="list-group-item"><strong>Note:</strong> <%= @item.note %></li>
  <li class="list-group-item"><strong>Category:</strong> <%= @item.category ? @item.category.name : '' %></li>
  <li class="list-group-item"><strong>Frequency:</strong> <%= @item.frequency %></li>
  <li class="list-group-item"><strong>Coupon:</strong> <%= @item.coupon %></li>
  <li class="list-group-item"><strong>Purchased:</strong> <%= @item.purchased %></li>
</ul>