<h2>New Category</h2>
<div class="row">
  <div class="col-md-12">
  <%= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <div class="control-label">
          <%= f.label :name %>
        </div>
        <div>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <div>
        <%= f.submit class: 'btn btn-primary btn-lg' %> 
      </div>
    </div>
    <% end %>
    <div class="offset-3 offset-md-0 col-4">
      <%= link_to 'Cancel', categories_path, class: 'btn btn-secondary btn-lg' %> 
    </div>
  </div>
</div>