<!DOCTYPE html>
<html>
  <head>
    <title>RailsListApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%= link_to "Items to Buy", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li role="presentation" class=<%= (item_new_active || "") + " nav-item" %>>
              <%= link_to 'Add Item', new_item_path, class: "nav-link" %>
            </li>
            <li class="dropdown nav-link">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Stores <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <%= link_to 'All Stores', stores_path %>
                </li>
                <li class="dropdown-item">
                  <%= link_to 'Add New Store', new_store_path %>
                </li>
                 <% Store.all.order(name: :asc).each do |store| %>
                  <li class="dropdown-item">
                    <%= link_to store.name, store %>
                  </li>
                  <% end %>
              </ul>
            </li>
            <li class="dropdown nav-link">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <%= link_to 'All Categories', categories_path %>
                </li>
                <li class="dropdown-item">
                  <%= link_to 'Add New Category', new_category_path %>
                </li>
                <% Category.all.order(name: :asc).each do |category| %>
                <li class="dropdown-item">
                  <%= link_to category.name, category %>
                </li>
                  <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <%- if flash[:notice] -%>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice].html_safe %>
        </div>
      <%- end -%>
      <%- if flash[:alert] -%>
        <div class="alert alert-danger" role="alert">
          <%= flash[:alert].html_safe %>
        </div>
      <%- end -%>
      <%= yield %>
    </main>
  </body>
</html>
